<app-nav></app-nav>
<div class="grid-container">
    <h1 class="mat-h1"></h1>
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile  rowspan="8" >
          <mat-card class="dashboard-card card-image">
            <mat-card-header class="mat-app-background card-title">
              <mat-card-title>
                <div style="margin:0 30px;">
                  <table>
                      <tr>
                          <th>Latest pill consumption timeline</th>
                      </tr>
                      <tr>
                      </tr>
                      <tr *ngFor="let pill of pillDetails;">
                          <td>{{ pill.PillTakenDateTime }}</td>
                      </tr>
                  </table>
              </div>              
            </mat-card-title> 
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list> 
  </div>
  

  