<app-nav></app-nav>
<div class="grid-container">
    <h1 class="mat-h1"></h1>
    <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile  rowspan="2" >
          <mat-card class="dashboard-card card-image">
            <mat-card-header class="mat-app-background card-title">
              <mat-card-title>
                <h4>Pill stats</h4>
                <h4>Pill taken Yes/No</h4>
                <h4>Pill history</h4>
              </mat-card-title> 
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list> 
  </div>